.profile{
    height:auto;
    background-color:grey;
}
td{
    text-align:center;
    color:white;
    border-top:solid 1px;
    border-color:gainsboro;
    font-size: 16px;
    padding: 5px;
}
#exp{
    background-color: white;
    color:black;
    text-align: left;
}
#TextArea{
    height: 50%;
}
a{
    text-decoration: none;
}
a .bi-youtube{
    color:red;
}
a .bi-twitch{
    color:purple;
}